// CORES
$roxo: #442f65;
$texto: #352E25;
$bg: #f6f7f4;
$cinza: #dedede;
$grafite: #352E25;
$amarelo: #ffbc21;

// FONTES
$fonte: 'Fira Sans',sans-serif;
$fonte_titulo: 'Source Code Pro', monospace;

// TAMANHO
$container: 1120px;
$tablet: 700px;
$celular: 425px;

// BODY E PADROES DE CSS
body {
	font-size: 17px;
	font-family: $fonte;
	line-height: 1.6;
	background-color: $bg;
}

//LINKS
a { 
	color: $roxo;
	font-weight: bold;
	cursor: pointer;
	word-wrap: break-word;
	
	&:link, &:hover, &:visited, &:active {
		text-decoration: none;
	}

	&:hover {
		color: lighten($roxo,30%);

	}
 }

// TITULOS

main {
	position: relative;
}

h1, h2, h3, h4 {
	color: $roxo;
	margin: 0;
	padding: 35px 0 10px 0;
}

h1 {
	font-size: 1.8em;
	padding: 0 0 10px 0;

}

h2 {
	font-size: 1.3em;
}

//p

p {
	margin: 0;
	padding-bottom: 20px;
}

//CONTAINER
.container {
	padding: 10px;
	margin: 0 auto;
	width: $container;
	@media (max-width: $container) {
		width: 100%;
	}
	@media (max-width: $tablet) {
		width: 100%;
	}
	@media (max-width: $celular) {
		width: 100%;
	}
}

article {
	padding: 60px 0;
	width: 85%;
	h1, h2, h3, h4, p, table, ul, ol, .curriculo {
		width: 75%;
	}
	@media (max-width: $tablet) {
		width: 100%;
		padding: 40px 15px;
	}
	@media (max-width: $celular) {
		width: 100%;
		padding: 40px 15px;
	}
}

.clearfix {
	
	&:after {
  content: "";
  clear: both;
  display: table;
  }
}


